ul li {  list-style-image:url(../images/list-square-ie7.png);}
li.leaf { list-style-image:url(../images/list-square-ie7.png);}
li.expanded { list-style:none; list-style-image:none; background:url(../images/list-expand.png) 5px 8px no-repeat;}
li.collapsed { list-style:none; list-style-image:none; background:url(../images/list-collapse.png) 5px 8px no-repeat;}}

#tabs-wrapper { padding-top:1px;}

#bottom-menu { padding:0 0 0.4em 0; list-style:none;}

/* Blocks */

#landing-region1,
#landing-region2,
#landing-region3,
#landing-region4,
#landing-region5
#front-region1,
#front-region2 { margin-bottom:30px;}

.menu-no-bg #container .block-user li { list-style:none; list-style-image:none; background:url(../images/list-square.png) 5px 21px no-repeat;}
.menu-no-bg #container .block-user ul.menu li { padding:15px 0 15px 0;}
.menu-no-bg #container .block-user ul.menu ul { padding-left:7px;}
.menu-no-bg #container .block-user li.expanded { list-style:none; list-style-image:none; background:url(../images/list-expand.png) 5px 21px no-repeat;}
.menu-no-bg #container .block-user li.collapsed { list-style:none; list-style-image:none; background:url(../images/list-collapse.png) 5px 21px no-repeat;}}
.menu-no-bg #container .block-user ul ul li { background-position:15px 12px;}
.menu-no-bg #container .block-user ul ul li.expanded { list-style:none; list-style-image:none; background:url(../images/list-expand.png) 15px 12px no-repeat;}
.menu-no-bg #container .block-user ul ul li.collapsed { list-style:none; list-style-image:none; background:url(../images/list-collapse.png) 15px 12px no-repeat;}

.menu-no-bg #container .block-book li { list-style:none; list-style-image:none; background:url(../images/list-square.png) 5px 21px no-repeat;}
.menu-no-bg #container .block-book ul.menu li { padding:15px 0 15px 0;}
.menu-no-bg #container .block-book ul.menu ul { padding-left:7px;}
.menu-no-bg #container .block-book li.expanded { list-style:none; list-style-image:none; background:url(../images/list-expand.png) 5px 21px no-repeat;}
.menu-no-bg #container .block-book li.collapsed { list-style:none; list-style-image:none; background:url(../images/list-collapse.png) 5px 21px no-repeat;}}
.menu-no-bg #container .block-book ul ul li { background-position:15px 12px;}
.menu-no-bg #container .block-book ul ul li.expanded { list-style:none; list-style-image:none; background:url(../images/list-expand.png) 15px 12px no-repeat;}
.menu-no-bg #container .block-book ul ul li.collapsed { list-style:none; list-style-image:none; background:url(../images/list-collapse.png) 15px 12px no-repeat;}

.menu-no-bg #container .block-menu ul.menu li { list-style-position:outside; list-style-image:none; padding:15px 0 15px 10px;}

.menu-bg #container .block-user ul.menu li { list-style:none; list-style-image:none; background-image:url(../images/list-square.png); background-position:10px 19px; background-repeat:no-repeat;}
.menu-bg #container .block-user ul.menu li { padding:12px 0 12px 5px;}
.menu-bg #container .block-user ul.menu ul { padding-left:4px;}
.menu-bg #container .block-user ul.menu li.expanded { list-style:none; list-style-image:none; background-image:url(../images/list-expand.png); background-position:10px 19px; background-repeat:no-repeat;}
.menu-bg #container .block-user ul.menu li.collapsed { list-style:none; list-style-image:none; background-image:url(../images/list-collapse.png); background-position:10px 19px; background-repeat:no-repeat;}
.menu-bg #container .block-user ul.menu ul li { background-position:17px 12px;}
.menu-bg #container .block-user ul.menu ul li.expanded { list-style:none; list-style-image:none; background-image:url(../images/list-expand.png); background-position:15px 13px; background-repeat:no-repeat;}
.menu-bg #container .block-user ul.menu ul li.collapsed { list-style:none; list-style-image:none; background-image:url(../images/list-collapse.png); background-position:15px 13px; background-repeat:no-repeat;}

.menu-bg #container .block-book ul.menu li { list-style:none; list-style-image:none; background-image:url(../images/list-square.png); background-position:10px 19px; background-repeat:no-repeat;}
.menu-bg #container .block-book ul.menu li { padding:12px 0 12px 5px;}
.menu-bg #container .block-book ul.menu ul { padding-left:4px;}
.menu-bg #container .block-book ul.menu li.expanded { list-style:none; list-style-image:none; background-image:url(../images/list-expand.png); background-position:10px 19px; background-repeat:no-repeat;}
.menu-bg #container .block-book ul.menu li.collapsed { list-style:none; list-style-image:none; background-image:url(../images/list-collapse.png); background-position:10px 19px; background-repeat:no-repeat;}
.menu-bg #container .block-book ul.menu ul li { background-position:17px 12px;}
.menu-bg #container .block-book ul.menu ul li.expanded { list-style:none; list-style-image:none; background-image:url(../images/list-expand.png); background-position:15px 13px; background-repeat:no-repeat;}
.menu-bg #container .block-book ul.menu ul li.collapsed { list-style:none; list-style-image:none; background-image:url(../images/list-collapse.png); background-position:15px 13px; background-repeat:no-repeat;}

.menu-bg #container .block-menu ul.menu li { list-style-position:outside; list-style-image:none; padding:15px 0 15px 10px;}

/* Dark scheme */

body.dark ul li { list-style-image:url(../images/list-square-ie7-dark.png);}
body.dark li.leaf { list-style-image:url(../images/list-square-ie7-dark.png);}
body.dark li.expanded { list-style:none; list-style-image:none; background-image:url(../images/list-expand-dark.png);}
body.dark li.collapsed { list-style:none; list-style-image:none; background-image:url(../images/list-collapse-dark.png);}

.dark.menu-no-bg #container .block-user li { background-image:url(../images/list-square-dark.png);}
.dark.menu-no-bg #container .block-user li.expanded { background-image:url(../images/list-expand-dark.png);}
.dark.menu-no-bg #container .block-user li.collapsed { background-image:url(../images/list-collapse-dark.png);}

.dark.menu-no-bg #container .block-book ul.menu li { background-image:url(../images/list-square-dark.png); background-repeat:no-repeat}
.dark.menu-no-bg #container .block-book ul.menu li.expanded { background-image:url(../images/list-expand-dark.png); background-repeat:no-repeat}
.dark.menu-no-bg #container .block-book ul.menu li.collapsed { background-image:url(../images/list-collapse-dark.png); background-repeat:no-repeat}

.dark.menu-bg #container .block-user ul.menu li { background-image:url(../images/list-square-dark.png); background-repeat:no-repeat}
.dark.menu-bg #container .block-user ul.menu li.expanded { background-image:url(../images/list-expand-dark.png); background-repeat:no-repeat}
.dark.menu-bg #container .block-user ul.menu li.collapsed { background-image:url(../images/list-collapse-dark.png); background-repeat:no-repeat}

.dark.menu-bg #container .block-book ul.menu li { background-image:url(../images/list-square-dark.png);}
.dark.menu-bg #container .block-book ul.menu li.expanded { background-image:url(../images/list-expand-dark.png);}
.dark.menu-bg #container .block-book ul.menu li.collapsed { background-image:url(../images/list-collapse-dark.png);}