/* TYPOGRAPHY ------------------------------------------------------------*/
h1 {font-size:2em;}

/* GENERAL LAYOUT ------------------------------------------------------------*/
.wrapper {width: auto; padding: 0px 5px; position:relative;}
#container {padding: 5px 0px;}

/* Header */
#header {padding: 0px;}
#header #logo {display: none;}
#header #site h1 {font-size:2em;}
#header #search {position:absolute; bottom:0; float:none; clear:both; padding-bottom:20px;}

/* Navigation */
#navigation {margin: 0px 0px 30px 0px; font-size: 0.9em;}
#navigation ul li {line-height:3em;}

/* Center and Sidebar Sections */
#content {padding:0;}
#content .block {margin-bottom:30px; clear:both;}
#sidebar-left,
#sidebar-right,
#main {padding-top:30px; position:static; clear:both;}
#main {padding-top:0;}
#main .node div.left,
#main .node div.right,
#main .node div {clear:both;}

/* Footer */
#footer {margin: 10px 0 60px 0;}
#footer ul li a {font-size:1em;}

#navigation-secondary ul li {clear:both; padding-bottom: 0.25em;}
#navigation-secondary.across-1 ul li,
#navigation-secondary.across-2 ul li,
#navigation-secondary.across-3 ul li,
#navigation-secondary.across-4 ul li,
#navigation-secondary.across-5 ul li,
#navigation-secondary.across-6 ul li {width:100%;}

/* Global Footer */
#global-footer {font-size:1em; position:relative; padding: 0px;}
#bottom-logo {display: none; padding:0;}
#bottom-text {clear:both; margin-top: 20px;}
#bottom-menu {display:block; clear:both;}
#bottom-menu ul li {margin-bottom: 10px;}

/* Col-5: Default */
.col-5 #sidebar-left {margin:0; width:100%;}
.col-5 #sidebar-right {margin:0; width:100%;}
.col-5.sidebars #main {width:100%;}
.col-5.sidebar-left #main {width:100%;}
.col-5.sidebar-right #main {width:100%;}

/* Col-4 */
.col-4 #sidebar-left {margin:0; width:100%;}
.col-4 #sidebar-right {margin:0; width:100%;}
.col-4.sidebars #main {width:100%;}
.col-4.sidebar-left #main {width:100%;}
.col-4.sidebar-right #main {width:100%;}

/* No Nav */
.no-nav #sidebar-left {margin:0; width:100%;}
.no-nav #sidebar-right {margin:0; width:100%;}
.no-nav.sidebars #main {width:100%;}
.no-nav.sidebar-left #main {width:100%;}
.no-nav.sidebar-right #main {width:100%;}

/* Front page */
body.front #container .block {margin: 0 0 10px 0; clear: both; width: auto;}
body.front #container .block.block-last {margin:0;  clear: both; width: auto;}
body.front #front-region1 .block, body.front #front-region2 .block, body.front #front-region3 .block {width: 100% !important;}
body.front #front-region1 .block img, body.front #front-region2 .block img, body.front #front-region3 .block img {height: 40px; margin: 0px 0px 0px 10px; float: right;}
body.front.sidebar-front #front-main {float: none; width: auto;}
body.front.sidebar-front #banner {width: auto; height:auto;}
body.front.sidebar-front #front-region1, body.front.sidebar-front #front-region2, body.front.sidebar-front #front-region3 {width: auto; margin-top: 10px; padding: 10px;}
body.front.sidebar-front #front-sidebar-right {float: none; width: auto; margin-top: 10px; padding: 10px;}

/* Landing */
body.node-type-landing #container .block {margin: 0 0 10px 0; clear:both; width:auto;}
body.node-type-landing #landing-region1 {margin: 0px 0px 10px 0px;}
body.node-type-landing #landing-region2 {margin: 0px 0px 10px 0px;}
body.node-type-landing #landing-region3 {margin: 0px 0px 10px 0px;}
body.node-type-landing #landing-region2 .block.block-first,
body.node-type-landing #landing-region2 .block.block-last,
body.node-type-landing #landing-region3 .block.block-first,
body.node-type-landing #landing-region3 .block.block-last {width:auto;}
body.node-type-landing #landing-region1 .block, body.node-type-landing #landing-region2 .block, body.node-type-landing #landing-region3 .block {width: 100% !important;}
body.node-type-landing #landing-region1 .block img, body.node-type-landing #landing-region2 .block img, body.node-type-landing #landing-region3 .block img {height: 50px; margin: 0px 10px 0px 0px; float: left;}
body.node-type-landing #landing-image,
body.node-type-landing #landing-image .block {height:auto; width:100%;}
body.node-type-landing #landing-main {padding:0;}


