body {background: none;}

.wrapper { width: auto;}
#container { margin:0; padding:0;}
#header { margin:0;padding:0;}
#header #site h1 { font-size:2em;}

h1, h2, h3, h4, h5, h6 { font-weight:bold;}
h1 { font-size:2em;}
h2 { font-size:1.5em;}
h3 { font-size:1.25em;}
h4 { font-size:1em;}
h5 { font-size:0.9em;}

#content {clear: both; padding:0; width: auto;}
#main {position: static; float: none; width: auto;}

#global-header,
#logo,
#search,
#navigation,
#sidebar-right,
#sidebar-left,
#tabs-wrapper,
#footer,
#global-footer { display:none;}

/* Front page */
#front-region1, #front-region2 {background: none;}
body.front.sidebar-front #front-sidebar-right {float: none; width: auto; margin-top: 10px; padding: 10px; background: none;}